html, body{
  height: 100%;
  padding: 0;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #979797;
}

.my-vue-notification {

  margin: 24px 24px 0 0;

  .notification-title {
    font-size: 1rem;
  }

  .notification-content {
    font-size: 0.8rem;
  }

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #FF5252;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}
